@page "/users"
@inject Microsoft.AspNetCore.Components.NavigationManager NavMan
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@using AirShare;

<div>
    <table class="table table-bordered" style="border: 1px solid black; width: 100%">
        @foreach (User usr in Core.GetUsers())
        {
            <tr>
                <td>@usr.Name</td>
                <td>@usr.Lvl</td>
                <td>

                    <table>
                        @foreach (var p in @usr.Allowed)
                        {
                            <tr>
                                <td>@p.Key</td>
                                <td>@p.Value</td>
                            </tr>
                        }

                    </table>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="(() => Remove(usr.Name))"><i class="fa fa-trash"></i></button>
                </td>

            </tr>
        }
    </table>
</div>

<div>

    <div class="form-group">
        <label>Admin Name</label>
        <input class="form-control" name="name" type="text" @bind="TxtName" />
    </div>
    <div class="form-group">
        <label>Admin Pass</label>
        <input class="form-control" name="pass" type="password" @bind="TxtPass" />
    </div>
    <hr />
    <div class="form-group">
        <label>New Name</label>
        <input class="form-control" name="name" type="text" @bind="TxtNewName" />
    </div>
    <div class="form-group">
        <label>New Pass</label>
        <input class="form-control" name="pass" type="password" @bind="TxtNewPass" />
    </div>
    <label>New Pass again</label>
    <input class="form-control" name="pass2" type="password" @bind="TxtNewPass2" />
</div>
<div class="form-group">
    <label>Read Only Paths</label>
    <textarea class="form-control" name="AllowedPaths" cols="40" rows="5" @bind="TxtPathsR"></textarea>
</div>
<div class="form-group">
    <label>Read and Write Paths</label>
    <textarea class="form-control" name="AllowedPaths" cols="40" rows="5" @bind="TxtPathsRW"></textarea>
</div>
<div class="form-group">
    <label>Read, Write and Excecute Paths</label>
    <textarea class="form-control" name="AllowedPaths" cols="40" rows="5" @bind="TxtPathsRWX"></textarea>
</div>
<div class="form-group">
    <input class="btn btn-success" type="button" @onclick="(() => Add())" value="Add" />
</div>

<h1> @msg </h1>



@code
{
    string msg { get; set; }
    string TxtName { get; set; }
    string TxtPass { get; set; }

    string TxtNewName { get; set; }
    string TxtNewPass { get; set; }
    string TxtNewPass2 { get; set; }
    string TxtPathsR { get; set; } = "\\";
    string TxtPathsRW { get; set; } = "";
    string TxtPathsRWX { get; set; } = "";


    public void Add()
    {
        if (TxtNewName == null || TxtNewName.Length < 2)
        {
            msg = "User name too short";
            return;
        }

        if (TxtNewPass == null || TxtNewPass.Length < 8)
        {
            msg = "Password too short";
            return;
        }

        if (TxtNewPass2 != TxtNewPass)
        {
            msg = "Two Passwords doesn't match ";
            return;
        }

        //if (TxtPaths == null || TxtPaths.Length == 0)
        //{
        // msg = "No paths are entered";
        //}


        User usr = Core.Auth(TxtName, TxtPass);
        if (usr != null)
        {
            if (usr.Lvl == UserLevel.root)
            {
                User newusr = Core.AddUser(TxtNewName, TxtNewPass, UserLevel.friend, TxtPathsR, TxtPathsRW, TxtPathsRWX);
                msg = $"Success adding {newusr.Name} as {newusr.Lvl} ";
                // msg = "Success " + Core.AddUser(TxtNewName, TxtNewPass, UserLevel.censored, TxtPathsR, TxtPathsRW, TxtPathsRWX);

            }
            else
            {
                msg = "You are not the admin";
            }
        }
        else
        {
            msg = "Wrong admin user name / password";
        }

        StateHasChanged();
    }

    public void Remove(string name)
    {
        User usr = Core.Auth(TxtName, TxtPass);
        if (usr != null)
        {
            if (usr.Lvl == UserLevel.root)
            {
                if (name != usr.Name)
                {
                    Core.RemoveUser(name);
                    msg = $"Success Removing {name} ";
                }
                else
                {
                    msg = "You can't remove yourself";
                }
            }
            else
            {
                msg = "You are not the admin";
            }
        }
        else
        {
            msg = "Wrong admin user name / password";
        }

        StateHasChanged();
    }

}